fastapi==0.115.0
uvicorn==0.30.6
SQLAlchemy==2.0.34
pydantic==2.9.2
pydantic-settings==2.5.2
python-dotenv==1.0.1

# Day 2 additions
feedparser==6.0.10
yfinance==0.2.33
vaderSentiment==3.3.2
python-dateutil==2.8.2
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.3.2

# Day 3 additions
lightgbm==4.5.5
shap==0.42.1
joblib==1.4.0
